Exercise 1.08 Revisitiong the Unique Valued List Problem

In [1]:
# Import random
import random

In [ ]:
# Generate a random list
list_1= [random.randint(0,30) for x in range (0,100)]

In [ ]:
# Create a unique valued list from list_1

In [3]:
list(dict.fromkeys(list_1).keys())

[19,
 30,
 14,
 27,
 11,
 0,
 17,
 12,
 21,
 28,
 25,
 2,
 22,
 13,
 9,
 20,
 18,
 6,
 29,
 8,
 1,
 3,
 5,
 24,
 10,
 15,
 4,
 7,
 16,
 23]

Exercise 1.09 Deleting a Value from a Dict

In [4]:
# Create a list with 5 elements
dict_1= {"key1" : 1, "key2": ["list_element1", 34],\
        "key3": "value3", "key4": {"subkey1":"vl"},\
        "key5": 4.5}
dict_1

{'key1': 1,
 'key2': ['list_element1', 34],
 'key3': 'value3',
 'key4': {'subkey1': 'vl'},
 'key5': 4.5}

In [5]:
del dict_1["key2"]
dict_1

{'key1': 1, 'key3': 'value3', 'key4': {'subkey1': 'vl'}, 'key5': 4.5}

In [6]:
del dict_1["key3"]
del dict_1["key4"]
dict_1

{'key1': 1, 'key5': 4.5}

Exercise 1.10 Dictionary Comprehension

In [7]:
# Generate a list with keys ranging from 0-9 as keys
# and the square of the keys as values
list_1= [x for x in range(0,10)] 
dict_1= {x: x**2 for x in list_1} 
dict_1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [8]:
# Create dictionary using the dict function
dict_2= dict([("Tom", 100), ("Dick", 200), ("Harry", 300)])
dict_2

{'Tom': 100, 'Dick': 200, 'Harry': 300}

In [9]:
# Another option to use the dict function
dict_3 = dict(Tom=100, Dick=200, Harry=300)
dict_3

{'Tom': 100, 'Dick': 200, 'Harry': 300}

Tuples

In [13]:
# Create an empty tuple
tuple_1 = ()
tuple_1

()

In [15]:
# Create a tuple with one value
tuple_1= "Hello",
tuple_1

('Hello',)

In [16]:
# Nest tuples
tuple_1 = "Hello", "There"
tuple_12 = tuple_1, 45, "Sam"
print(tuple_1)
print(tuple_12)

('Hello', 'There')
(('Hello', 'There'), 45, 'Sam')

In [21]:
tuple_1= ("good", "morning!", "how", "are", "you")

In [ ]:
# access first element
tuple_1[0]

'good'

In [ ]:
# access last element
tuple_1[4]

'you'

In [ ]:
# unpacking a tuple
tuple_1= "Hello", "World"
hello, world = tuple_1
print(hello)
print(world)

Hello
World

Exercise 1.11

In [2]:
# Create a tuple
tuplE = "1", "3", "5"
tuplE

('1', '3', '5')

In [ ]:
# try to modify a tuple
tuplE[1] = "5"

In [4]:
# Assign a series to a tuple
1,3,5 = tuplE

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (4054712392.py, line 2)

In [5]:
# Print variables at 0th and 1st position
print(tuplE[0])
print(tuplE[1])

1
3

Strings

In [7]:
string1 = 'Hello, World!'

In [6]:
string2 = "Hello, World!"

In [8]:
str_1 = "Hello, World!"
str_1

'Hello, World!'

In [9]:
# access the first element
str_1[0]

'H'

In [10]:
# access the 5th element
str_1[4]

'o'

In [11]:
# access the last element
str_1[-1]

'!'

Exercise 1.13

In [12]:
# Create a string
str_1 = "Hello World! I am learning data wrangling."
str_1

'Hello World! I am learning data wrangling.'

In [13]:
# slice the string
str_1[2:10]

'llo Worl'

In [14]:
# Slice a string by skipping a slice value
str_1[-31:]

'! I am learning data wrangling.'

In [15]:
# Use negative numbers to slice a string
str_1[-10:-5]

'wrang'